{% extends "base.html" %}
{% block content %}
<!-- <div class="row">
  <div class="col-sm-12">
    {{docs|markdown}}
  </div>
</div> -->
<!-- <div class="jumbotron">
    <h1>Welcome to guestbook</h1>
    <p>Time to start building your site!</p>
    <p><a class="btn btn-primary btn-lg" href="http://luminusweb.net">Learn more &raquo;</a></p>
  </div> -->
    <div class="row row-content">
        <!-- <div ng-if="!showCurrent">
            <h3>{{message}}</h3>
        </div> -->
        <div class="col-xs-12">
            <h2>Right now</h2>
            <ul class="tab-pane fade in active">
            <!-- {% for item in readings %}
                    <div class="row">
                        <table class="table">
                            <h3>{{item.location/name}} <i class="wi {{item.icon}}"></i></h3>
                            <tbody>
                                <tr>
                                    <td>Day forecast:</td>
                                    <td>{{item.summary}}</td>
                                </tr>
                                <tr>
                                    <td>Sunrise:</td>
                                    <td>{{item.sunrise|date:"HH:mm:ss"}}</td>
                                </tr>
                                <tr>
                                    <td>Sunset:</td>
                                    <td>{{item.sunset|date:"HH:mm:ss"}}</td>
                                </tr>
                                <tr>
                                    <td>Weather now:</td>
                                    <td>{{item.summaryNow}}</td>
                                </tr>
                                <tr>
                                    <td>Temperature:</td>
                                    <td>{{item.temp}} °C</td>
                                </tr>
                                <tr>
                                    <td>Wind speed:</td>
                                    <td> {{item.wind}} km/hr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            {% endfor %} -->
            </ul>
        </div>
        <div class="col-sm-3 col-sm-push-9">
            <!-- <p> @ {{created-at}}</p> -->
            <p>@ {{created-at}}<p>
            <time>@ {{created-at|date:"yyyy-MM-dd HH:mm:ss"}}</time>
        </div>
    </div>
{% endblock %}
